<div>
  <div id="toolbar">
    <div id="buttons">
      <button title="Back to editor" type="button" ng-click="openEditor()"><i class="fa fa-arrow-left"></i></button>
      <label>Workshops available to download</label>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="downloads_container">
    <div class="download_list">
      <table cellspacing="0" cellpading="0" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Github url</th>
            <th>Version</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key,_w) in download_list">
            <td>{{_w.nice_name}}</td>
            <td><button type="button">{{_w.github_url}}</button></td>
            <td>{{_w.tag_release}}</td>
            <td><button type="button" ng-click="showInfo(key)"><i class="fa fa-plus"></i></button></td>
            <td><button type="button"><i class="fa fa-download"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="workshop_intro"></div>
    <div class="clearfix"></div>
  </div>
</div>
