<div>
    <div id="toolbar">
      <button id="settings-button" title="Settings" type="button" ng-click="openSettings()"><i class="fa fa-gear"></i></button>
      <div id="workshops_list">
        <label>Workshop</label>
        <select id="workshops_select" ng-model="selected_workshop" ng-change="selectWorkshop()">
          <option ng-value="-1" selected>-- Select a workshop --</option>
          <option ng-repeat="w in workshops" ng-value="$index">{{w.title}}</option>
        </select>
        <button title="More workshops" type="button" ng-click="openDownloader()"><i class="fa fa-plus"></i></button>
      </div>
      <div id="exercises_list">
        <label>Exercise</label>
        <select id="workshops_select" ng-model="selected_exercise" ng-change="selectExercise()">
          <option ng-repeat="e in exercises" ng-value="$index">{{e.name}}</option>
        </select>
      </div>
      <div id="buttons">
        <button class="save-button" type="button">Save</button>
        <button title="Run test" type="button"><i class="fa fa-play"></i></button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="main_container">
      <div id="left_container">
        <div id="editor"></div>
      </div>
      <div id="right_container">
        <div id="exercise_readme"></div>
        <div id="exercise_solution"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="console">
      <div class="console_bar">
        <label>console output</label>
      </div>
      <div class="console_output">
        <p>$</div>
      </div>
    </div>
</div>
