@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

body {
  margin:0px;
  padding:0px;
  background-color: #21252B;
  font-family: 'Roboto-Thin', sans-serif;
}

i {
  color: #ccc;
  font-size: 1.2em;
}

#settings-button {
  float:right;
}

#left_container {
  float:left;
  width: 70%;
  border-right:1px solid #000;
}

#right_container {
  float: left;
  width: 28%;
  padding-left: 10px;
}

#editor {
  width: 100%;
  min-height: 400px;
}

#toolbar {
  padding:8px 8px 8px 8px;
  background-color: #282C34;
  border-bottom:1px solid #000;
}

#toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size:0.8em;
}

.save-button {
  color: #528BFF;
  border: 1px solid #528BFF !important;
  border-radius:6px;
  margin-left: 5px;
}

label {
  color :#ccc;
  font-size:0.8em;
}

.fa-play {
  color: #73C990 !important;
  margin-left: 15px
}

select {
}

#workshops_list, #exercises_list, #buttons {
  float:left;
}

#exercises_list {
  margin-left: 15px;
}

.clearfix{
  clear:both !important;
}

#console {
  background-color: #000;
  min-height: 240px;
}

#exercise_readme, #workshop_intro {
  color: #ccc;
}

#console p {
  color: #ccc;
  font-size: 0.7em;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1em;
}

.console_bar {
  width: 100%;
  padding-left:8px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #282C34;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.console_bar label {
  font-size: 0.7em !important;
}

.download_list {
}

#workshop_intro {
  padding: 10px;
}

table {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

table button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

th, td {
  font-size:0.8em;
  color: #ccc;
  text-align: left;
  padding:4px;
}

td {
  border-top: 1px solid #ccc !important;
}

.dialog {
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  z-index:999999;
  color: #ccc;
  position: absolute;
  height: 100%;
  display: none;
}

.dialog button {
  position: relative;
  float:right;
  margin:8px;
  background: none;
  border:none;
}

.dialog button .fa-close {
  font-size: 2em;
}
